// Import page-specific CSS files here.

/* Body // Content */
.content {
  /* border: 5px solid red; */
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 160px;
  height: calc(100%-162px);
  /* column-count: 2;
  column-gap: 0px; */
}

.content-grid {
  top: 162px;
  margin: 3px;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1.2fr;
  grid-gap: 3px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .content-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .content-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .content-grid {
    grid-template-columns: 1.2fr 1fr 1.2fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .content-grid {
    grid-template-columns: 1.2fr 1fr 1fr 1.2fr;
  }
}

.section {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px 3px;
}
