<div class="bar-contacts-atelier">
  <div class="bar-contacts-atelier-sections">
    <a href="">
      <p>> Github</p>
    </a>
    <a href="">
      <p>> Linkedin</p>
    </a>
    <a href="">
      <p>> Twitter</p>
    </a>
  </div>
</div>
