<div class="section">
  <div class="post-card">
    <h1><%= post.title %></h1>
    <p><%= post.text %></p>
    <% if post.images %>
     <img src=<%= post.images %> style="width: 300px">
    <% end %>
  </div>
</div>
