<%= link_to post_path(id: post), {class: "post-card"} do %>
    <% if post.photos.attached? %>
      <%= cl_image_tag post.photos[0].key, width: 400, height: 600, crop: :fill, class: "post-card-image" %>
    <% end %>
    <h1><%= post.title %></h1>
    <p><%= post.text %></p>
<% end %>
