<div class="categories-bar">
  <% categories = Category.all %>
  <% categories.each do |category| %>
    <%= content_tag :div, class: "categories-badge", "data-action" => "click->category-filter#updateItems", "data-category" => category.tag do %>
      <p><%= "##{category.tag.downcase}" %></p>
    <% end %>
  <% end %>
  <% if current_user && params[:controller] == "pages" %>
    <div class="categories-badge">
      <%= link_to "+ new category", home_path %>
    </div>
  <% end %>
  <div class="categories-badge">
  </div>
</div>
