<div class="categories-bar">
  <% categories = Category.all %>
  <% categories.each do |category| %>
    <div class="categories-badge">
      <%= link_to "##{category.tag.downcase}", category_posts_path(category.tag) %>
    </div>
  <% end %>
  <% if current_user && params[:controller] == "pages" %>
    <div class="categories-badge">
      <%= link_to "+ new category", home_path %>
    </div>
  <% end %>
</div>
