<div class="footer-atelier">
  <div class="footer-atelier-sections">
    <a href="">
      <p>> Github</p>
    </a>
    <a href="">
      <p>> Linkedin</p>
    </a>
    <a href="">
      <p>> Twitter</p>
    </a>
  </div>
</div>
