<div class="navbar-atelier">
  <%= link_to home_path, {class: "website-title"} do %>
    <h1>RanAtelier</h1>
  <% end %>
  <div class="navbar-atelier-sections">
    <%= link_to "+ projects", category_posts_path("Projects") %>
    <%= link_to "+ creative fuel", creative_fuel_path %>
    <%= link_to "+ about", about_path %>
  </div>
</div>
