<div class="navbar-atelier">
  <h1>RAN1000</h1>
  <div class="navbar-atelier-sections">
    <a href="">
      <p>+ projects</p>
    </a>
    <a href="">
      <p>+ inspiration</p>
    </a>
    <a href="">
      <p>+ about</p>
    </a>
  </div>
</div>
