<div class="navbar-atelier">
  <h1>RAN1000</h1>
  <div class="navbar-atelier-sections">
    <a href="">
      <p>category01</p>
    </a>
    <a href="">
      <p>category02</p>
    </a>
    <a href="">
      <p>category03</p>
    </a>
    <a href="">
      <p>About</p>
    </a>
  </div>
</div>
