<%= render "shared/navbar" %>
<%= render "shared/barcontacts" %>
<%= render "shared/categories" %>
<div class="content">
  <div class="content-grid">
    <% @posts.each do |post| %>
      <%= render "shared/card", post: post %>
    <% end %>
  </div>
</div>
