<%= render "shared/navbar" %>
<%= render "shared/footer" %>
<div class="categories-bar">
  <% categories = Category.all %>
  <% categories.each do |category| %>
    <div class="categories-badge">
      <%= link_to "##{category.tag.downcase}", category_posts_path(category.tag) %>
    </div>
  <% end %>
</div>
<div class="content">
  <div class="content-grid">
    <% @posts.each do |post| %>
      <%= render "shared/card", post: post %>
    <% end %>
  </div>
</div>
