<%= render "shared/navbar" %>
<%= render "shared/footer" %>
<div class="content">
  <div class="content-grid">
    <% @posts.each do |post| %>
      <%= render "shared/card", post: post %>
    <% end %>
  </div>
</div>
<% tags = ["art", "inspiration", "notes", "projects", "todigital"] %>
<% tags.each do |tag| %>
<div>
<%= link_to "#{tag.capitalize}", about_path(tag: tag) %>
</div>
<% end %>
