<%= render "shared/navbar" %>
<%= render "shared/footer" %>
<div
  <%# data-controller="cards" %>
>
  <%= render "shared/categories" %>
  <div class="content">
    <div class="content-grid">
      <% @posts.each do |post| %>
        <%= render "shared/card", post: post %>
      <% end %>
    </div>
  </div>
</div>
