<%= render "shared/navbar" %>
<%= render "shared/categories" %>
<% unless @post.photos.nil? %>
  <% cover_photo = @post.photos[0] %>
  <%= cl_image_tag cover_photo.key, width: 400, height: 300, crop: :fill, class: %i[img-show] %>
<% end  %>
<DIV class="floating-title">
  <h2><%= @post.title %></h2>
</DIV>
