<%= render "shared/navbar" %>
<%= render "shared/categories" %>
<div class="show-content">
  <% if @post.photos %>
    <%= cl_image_tag @post.photos[0].key, width: 400, height: 300, crop: :fill, class: %i[show-img] %>
  <% end  %>
  <div class="show-floating-title">
    <h4><%= @post.title %></h4>
  </div>
</div>
