.bar-contacts-atelier {
  height: 50px;
  width: 100%;
  border: $border-size solid black;
  padding: 0px 10px;
  margin-bottom: $margin-size;
}

.bar-contacts-atelier-sections {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 0px 15px;
}

.bar-contacts-atelier-sections a {
  text-decoration: none;
  color: black;
}

.bar-contacts-atelier-sections p {
  margin: 0px 0px 0px 15px;
}
