.post-card {
  border: $border-size solid black;
  min-width: 100px;
  height: 600px;
  overflow: hidden;

  h1,
  p {
    padding-left: 8px;
    padding-top: 16px;
    font-family: $body-font;
    font-size: $body-size ;

  }

  h1 {
    font-family: $header-font;
    font-size: $button-size ;
  }
}

.post-card-image {
  width: 100%;
  height: 90%;
  object-fit: cover;
}
