.post-card {
  display: block;
  border: $border-size solid black;
  overflow: hidden;
  text-decoration: none;
  color: black;

  h1,
  p {
    padding: 16px 16px 16px 16px;
    font-family: $body-font;
    font-size: $body-size ;
  }

  h1 {
    font-family: $header-font;
    font-size: $button-size ;
  }

  .post-card-image {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.post-card:hover {
  opacity: 0.95;
  color: rgba(0, 0, 0, 0.732);
}

.hidden {
  background-color: blueviolet;
}
