.categories-bar {
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $margin-size;
  overflow-y: scroll;
}

.categories-badge {
  background-color: white;
  border: $border-size solid $atelier-color-01;
  height: 100%;
  margin-right: $margin-size;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $atelier-color-random;
  }

  &:active {
    background-color: $atelier-color-01;
    color: white;
  }

  a {
    white-space: nowrap;
    color: $atelier-color-01;
    font-family: $body-font;
    font-size: $badge-size;
    text-decoration: none;
    padding: 5px;
  }
}

.categories-badge:last-of-type {
  flex-grow: 2;
  height: 100%;
  margin-right: 0;
}
