.categories-bar {
  height: 50px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin: 3px;
}

.categories-bar-tag {
  width: 100px;
  margin: 0px 0px;
}

// .navbar-atelier-sections a {
//   text-decoration: none;
//   color: black;
// }

// .navbar-atelier-sections p {
//   margin: 0px 0px 0px 15px;
// }
