.categories-bar {
  // height: 50px;
  // border: $border-size solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // padding: 0px 10px;
  margin: $margin-size $margin-size 0px $margin-size;
}

.categories-badge {
  background-color: white;

  :hover {
    background-color: rgb(249, 255, 168);
  }

  :active {
    background-color: $atelier-color-01;
    color: white;
  }

  border: $border-size solid $atelier-color-01;
  padding: 2px 4px;
  margin-right: $margin-size;

  a {
    color: $atelier-color-01;
    font-family: $body-font;
    font-size: $badge-size;
    text-decoration: none;
  }
}

.categories-badge:last-of-type {
  flex-grow: 2;
}

// .navbar-atelier-sections a {
//   text-decoration: none;
//   color: black;
// }

// .navbar-atelier-sections p {
//   margin: 0px 0px 0px 15px;
// }
