.form-new-post {
  border: $border-size solid black;
  padding: 40px;
  width: 600px;
  margin: 80px auto;

  .post_categories {
    display: flex;
    flex-wrap: wrap;

    .form-check-label {
      margin-right: 5px;
    }
  }
}
