.navbar-atelier {
  height: 50px;
  width: 100%;
  border: $border-size solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: $margin-size;

  & h1 {
    font-size: $header-size;
    font-family: $header-font;
    margin: 0px 0px;
  }
}

.navbar-atelier-sections {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0px 0px;
}

.navbar-atelier-sections a {
  display: inline-block;
  padding-left: 20px;
  text-decoration: none;
  color: black;
}

.navbar-atelier-sections p {
  margin: 0px 0px 0px 15px;
}
